<table class="galleries">
  {% for gallery in site.galleries %}
    {% cycle '<tr>', '' %}
      <td>
        <ol>
          <li>{% if gallery.url != '' %}<a href="{{ gallery.url }}">{% endif %}{{ gallery.name }}{% if gallery.url != '' %}</a>{% endif %}</li>
          <li>{{ gallery.address }}</li>
          <li>
            {% if gallery.city != '' && gallery.state != '' %}
              {{ gallery.city }}, {{ gallery.state }}
            {% else %}
              {{ gallery.city }}
              {{ gallery.state }}
            {% endif %}
            {{ gallery.zip }}
            {{ gallery.country }}
          </li>
          <li>{{ gallery.phone }}</li>
          <li>{{ gallery.email }}</li>
          <li>{{ gallery.description }}</li>
        </ol>
      </td>
    {% cycle '', '</tr>' %}
  {% endfor %}
</table>