.group
  %dl
    %dt= f.label_for :url
    %dd= f.text_field :url, :class => 'large'
    %dt= f.label_for :title
    %dd
      ~ f.text_field :title, :class => 'large'
    %dt
      = f.submit 'Save Link'
      or
      = link_to "Cancel", admin_links_path

