.group
  %dl
    %dt= f.label_for :title
    %dd= f.text_field :title, :class => 'large'
    %dt= f.label_for :body
    %dd
      ~ f.text_area :body, :class => 'large', :rows => '8'

    %dt
      = f.submit 'Save Page'
      or
      = link_to "Cancel", admin_portfolios_path
