.group
  %dl
    %dt= f.label_for :title, :text => 'Title*'
    %dd= f.text_field :title, :class => 'large fat'
    %dt= f.label_for :body, :text => "Text #{link_to image_tag('/images/icons/comment.gif', :class => 'icon-box orange'), admin_help_path('textile'), :target => '_blank'}"
    %dd
      ~ f.text_area :body, :class => 'large fat', :rows => '8'

    %dt
      = f.submit 'Save Portfolio'
      or
      = link_to "Cancel", admin_portfolios_path
