= error_messages_for :portfolio

- form_for @portfolio, :url => admin_portfolio_path(@portfolio) do |f|
  = render :partial => 'form', :locals => { :f => f }

= render :partial => 'portfolio', :locals => { :portfolio => @portfolio }

= link_to_new_portfolio

= render :partial => 'assets'

