- form_for :site, :url => admin_home_path, :html => { :method => :put } do |f|
  .group
    %dl
      %dt
        %label{ :for => 'home_news_item_count' } Number of news items to display on the home page
      %dd= select('site', 'home_news_item_count', 0..10)
      %dt= f.label_for :home_text, :text => "Text #{link_to image_tag('/images/icons/comment.gif', :class => 'icon-box orange'), admin_help_path('textile'), :target => '_blank'}"
      %dd
        ~ f.text_area :home_text, :class => 'large fat', :rows => '8'
      %dt
        = f.submit 'Save'

- content_for :sidebar do
  .asset-preview
    - unless @site.home_image.nil?
      = asset_image_tag(@site.home_image, :medium)
      .delete-link= link_to "Update Home Image", edit_admin_home_home_image_path
    - else
      .delete-link= link_to "Select Home Image", edit_admin_home_home_image_path