<div class="portfolio">
  <div class="portfolio-wrapper">

    <span class="breadcrumbs">
      {% for ancestor in portfolio.ancestors %}
        &gt; 
        <a href="{{ ancestor.url }}">{{ ancestor.title }}</a>
      {% endfor %}
      &gt; <a href="{{ portfolio.url}}">{{ portfolio.title }}</a>
    </span>

    <img class="portfolio-image" src="{{item.display_path}}" />
    
    <div class="portfolio-info">
      <table class="portfolio-children">
        {% for child in portfolio.children %}
          <tr>
            <td><img src="{{child.cover_image_tiny_path}}" /></td><td><a href="{{ child.url }}">{{ child.title }}</a></td>
          </tr>
        {% endfor %}
      </table>

      <ul class="image-fields">
        {% for fld in item.fields %}
          <li><span>{{ fld.name }}:</span><span>{{ fld.value }}</span></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="portfolio-images">
    {% for asset in portfolio.assets %}
      <a href="{{ asset.url }}"><img src="{{ asset.thumbnail_path }}"/></a>
    {% endfor %}
  </div>  
</div>