!!! XML
!!!
%html{ html_attrs }
  %head
    %meta{ 'http-equiv' => "Content-type", :content => "text/html; charset=utf-8" }
    %title Getting somewhere

    = stylesheet_link_tag 'application'
    = javascript_include_tag :defaults

    = yield :head

  %body
    #banner
      #right-banner
        = link_to 'Logout', admin_session_path, :method => :delete
      #left-banner  
    #wrapper
      #content
        #head
          %h1= @site.title
        %ul#top-controls
          %li= link_to 'Dashboard', dashboard_path, :class => check_active_section('dashboard')
          %li= link_to 'Sections', dashboard_path, :class => check_active_section('sections')
          %li= link_to 'Assets', dashboard_path, :class => check_active_section('assets')
          %li= link_to 'Design', dashboard_path, :class => check_active_section('design')
          %li= link_to 'Settings', edit_admin_settings_path, :class => check_active_section('settings')
        %ul#sub-controls
          %li= link_to 'Home', dashboard_path
          %li= link_to 'Links', dashboard_path, :class => 'current'
          %li= link_to 'News', dashboard_path
          %li= link_to 'Portfolio', dashboard_path
        #body
          = yield
    #footer
