!!! XML
!!!
%html{ html_attrs }
  %head
    %meta{ 'http-equiv' => "Content-type", :content => "text/html; charset=utf-8" }
    %title= "Spritz... relax - #{@site.title}"

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'prototype', 'effects', 'dragdrop', 'lowpro', 'application'

    = yield :head

  %body
    #banner
      #left-banner
      #flash-area
        #flash-errors{ :style => "display: none;" }= flash[:error]
        #flash-notice{ :style => "display: none;" }= flash[:notice]
      #right-banner
        = link_to current_user.login, edit_admin_user_path(current_user)
        |
        = link_to 'Site', home_path, :target => '_blank'
        |
        = link_to 'Logout', admin_session_path, :method => :delete
    #wrapper
      #content
        #head
          %h1= @site.title unless @site.nil?
        %ul#top-controls
          = main_menu
        %ul#subcontrols
          = submenu
        #body
          #main
            #main-content
              = yield
          #sidebar
            = yield :sidebar
    #footer
