!!! XML
!!!
%html{ html_attrs }
  %head
    %meta{ 'http-equiv' => "Content-type", :content => "text/html; charset=utf-8" }
    %title Getting somewhere

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'prototype', 'effects', 'dragdrop', 'lowpro', 'application'

    = yield :head

  %body
    #banner
      #left-banner
      #flash-area
        #flash-errors{ :style => "display: none;" }= flash[:error]
        #flash-notice{ :style => "display: none;" }= flash[:notice]
      #right-banner
        = link_to 'Logout', admin_session_path, :method => :delete
    #wrapper
      #content
        #head
          %h1= @site.title
        %ul#top-controls
          %li= link_to 'Dashboard', dashboard_path, :class => check_active_section('dashboard')
          %li= link_to 'Links', admin_links_path, :class => check_active_section('links')
          %li= link_to 'Assets', admin_assets_path, :class => check_active_section('assets')
          %li= link_to 'Design', dashboard_path, :class => check_active_section('design')
          %li= link_to 'Settings', edit_admin_settings_path, :class => check_active_section('settings')
        #body
          = yield
    #footer
