.group
  %dl
    %dt= f.label_for :domain
    %dd= f.text_field :domain, :class => 'large'
    %dt= f.label_for :subdomain
    %dd= f.text_field :subdomain, :class => 'large'
    %dt= f.label_for :title
    %dd= f.text_field :title, :class => 'large'
    %dt
      = f.submit 'Save Site'
      or
      = link_to "Cancel", admin_sites_path
