= error_messages_for :template_site

- form_for @template_site, :url => admin_site_path(@template_site), :html => { :method => :put } do |f|
  .group
    %dl
      %dt= f.label_for :title, :text => 'Site Title'
      %dd= f.text_field :title, :class => 'large fat'
      %dt= f.label_for :google_analytics_code, :text => 'Google Analytics Code (for statistics tracking)'
      %dd= f.text_field :google_analytics_code, :class => 'large fat'
      - if Spritz.multi_sites_enabled
        %dt= f.label_for :domain
        %dd= f.text_field :domain, :class => 'large'
      %dt
        = f.submit 'Save Changes'
        or
        = link_to "Cancel", admin_dashboard_path
