%h1 Listing sites

%table
  %tr
    %th Domain

- for site in @sites
  %tr
    %td= h site.domain
    %td= link_to 'Show', admin_site_path(site)
    %td= link_to 'Edit', edit_admin_site_path(site)
    %td= link_to 'Destroy', admin_site_path(site), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New site', new_admin_site_path
