<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en-US' xml:lang='en-US' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-type' />
    <title>{{ site.title }}</title>
    {{ 'styles' | stylesheet: 'all' }}
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h1>{{ site.title }}</h1>
      </div>
      <div id="sidebar">
        <ul>
          {% sectionlist as section %} <li><a href="{{section.url}}">{{ section.title }}</a></li> {% endsectionlist %}
        </ul>
      </div>
      <div id="content">
        {{ content_for_layout }}
      </div>
    </div>
    <div id="footer">
      Brought to you by Spritz
    </div>
  </body>
</html>
